# dependencias
node_modules/

# build
dist/
dist-ssr/

# vite / node
*.local

# variables de entorno (aquí vive VITE_API_URL, no debería importar mucho pero por hábito)
.env
.env.local

# editor / OS
.vscode/
.idea/
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
